/* about.css */

/* Resetting some styles */
* {
    box-sizing: border-box;
}

body, html {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
}

body {
    background-image: linear-gradient(to left bottom, #000428, #001c3d, #003451, #005065, #004e92);
    color: white;
}

/* Grid Container styles */
.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 20px;
    padding: 20px;
}

/* Header styles */
header {
    background-image: url('../images/my_photo.jpg'); /* Change the image source */
    background-size: cover; /* Adjusted background size to cover both dimensions */
    background-position: center top; /* Center the image vertically */
    overflow: hidden;
    height: 300px;
}

#avatar_image {
    width: 3em;
    height: 4em;
    border-radius: 50%;
    margin: 10px 20px;
}

nav {
    margin: 20px;
}

nav .nav-link {
    color: yellow;
}

/* Grid Item styles */
.grid-item {
    max-width: 100%;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 8px;
}

.grid-item h2 {
    color: #fff;
}

.grid-item p {
    color: #ccc;
    line-height: 1.6;
}

/* Footer styles */
footer {
    width: 100%;
    height: 2rem;
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px;
}

#my_photo {
    width: 100%;
    height: 100%; /* Added height property to cover both dimensions */
}
